## SQL SELECT
<Syntax
SELECT column1,column2, ...                                                                                           
FROM table;

### SQL SELECT DISTINCT Statement
>>> we use this statement to get the values of particular required columns only

<SYNTAX:                                                                                       
SELECT DISTINCT column1, column2 ...                                                                                      
FROM table;

### SQL SELECT As Alias
>>> agar hame kisi table se uske coloumns ko temporarily kisi ar name se display krna ho toh 
    ham es ALIAS     ka use krte hain

<SYNTAX:
SELECT column_1 AS alias_1,                                                                                         
       column_2 AS alias_2,                                                                                         
.......column_n AS alias_n                                                                                          
FROM table_name;

### SQL SELECT LIMIT, TOP, FETCH FIRST
>>> The SQL LIMIT keyword ko hmlog tab use krte hai jab hme kisi single ya multiple columns k limited rows 
    display karna ho
    NOTE: LIMIT ko hmlog mostly query k last m likhte h(fastapi m pagination k time eska use hota h)

<SYNTAX:
SELECT column1,column2,column3......
FROM Table
LIMIT n;    
//n is number of rows

### SQL LIMIT With OFFSET Clause
<SYNTAX:
SELECT column1, column2......
FROM Table
LIMIT n OFFSET m;

m= number of rows to left from start
>>> m ka jo v value hoga utna no of starting s chorne k baad ka data hi display hoga(as per value of LIMIT assign).

### SQL IN And NOT IN Operators

## SQL 'IN' Operator
>>> let kisi country ka nam India h ar hmko kisi table s (one or more columns) ,first_name and last_name 
    chahiye jiska country name INDIA ho, toh is condition m hm "IN" operator ka use krte hain.

<SYNTEX:
SELECT column1, column2, ...  
FROM table
WHERE column IN (value1, value2, ...);

## SQL NOT IN Operator
>>> This is vice-versa of IN Operator i.e, we exclude the rows that match the values in the list.

<SYNTAX:
SELECT column1, column2, ...  
FROM table
WHERE column NOT IN (value1, value2, ...);

### SQL BETWEEN Operator
>>> The BETWEEN operator is used with WHERE clause to match the values in range.

<SYNTAX:
SELECT column1, column2
FROM Table
WHERE COLUMN BETWEEN value1 AND value2;
>value1 and value2 are lower and uper bounds of the range.

### SQL NOT BETWEEN Operator
>>> vice-versa of BETWEEN Operator

<SYNTAX:
SELECT column1, column2
FROM Table
WHERE column NOT BETWEEN value1 AND value2;

### SQL IS NULL and IS NOT NULL
>>> These commands are used to check the values which are null or not in Columns of table.

## IS NULL
>>> USed to select the rows which contain NULL values

<SYNTAX:
SELECT column1, column2,.....
FROM Table
WHERE column_name IS NULL;

## IS NOT NULL
>>> Used to select the rows value which are not null
<SYNTAX:
SELECT column1, column2,.....
FROM Table
WHERE column_name IS NOT NULL;

### IS NULL With COUNT()
>>> COUNT() function with IS NULL is used to count the total number of null values.
<STNTAX:
SELECT COUNT(*)
FROM Table
WHERE column_name IS NULL

### SQL MIN() and MAX()
>>> used to find maxm or minm values from the columns
NOTE: When we use it with 'CATEGORICAL COLUMN' toh us column me jo alphabetically jo sbse last me hoga with max and jo sbse pehle hoga wo min k sath

## SQL MAX()
<SYNTAX:
SELECT MAX(column)
FROM Table

## SQL MIN()
<SYNTAX:
SELECT MIN(column)
FROM Table

## ALIASES with MAX() and MIN()
<SYNTAX: For MAX()      
SELECT MAX(column) AS new_column_name
FROM Table;

### SQL COUNT()
>>> count() function is used to return the total number of records returned by a query.
<SYNTAX
SELECT COUNT(expression)
FROM Table;
>

## ALIAS with count() function
<SYNTAX
SELECT COUNT(expression) AS new_column_name
FROM Table;
>

### DISTINCT function returns the total number of different or unique rows or records in a Column

## COUNT with DISTINT

<SYNTAX:
SELECT COUNT(column_name country)
FROM Table;
>

### SQL SUM() and AVERAGE() function
>>> used to calculate total and average values in a column

## SUM() function
>>> It is used to calculate the cumulative sum of numeric values in a Table.
<SYNTAX
SELECT SUM(column_name)
FROM Table;
>

## AVERAGE function
>>> Used to calculate the average of numeric values in a column
<SYNTAX:
SELECT AVERAGE(column_name)
FROM Table;
>

### SQL ORDER BY clause
>>> ORDER BY is a clause which is used in SQL to sort the result in ascending
or descending order
<SYNTAX:
SELECT column1, column2....
FROM Table
ORDER BY columnA, columnB,....
>

## ORDER BY Ascending Order (ASC)
<SYNTAX:
SELECT column1, column2....
FROM Table
ORDER BY columnA, columnB,... ASC
>

## ORDER BY Descending Oreder (DESC)
<SYNTAX:
SELECT column1, column2,....
FROM Table
OREDER BY columnA, columnB,... DESC
>

<NOTE: When using the WHERE clause with ORDER BY, the WHERE clause always comes first.>

### GROUP BY
>>> esme ham kisi column me ektarah k jitne v elements hai un rows ko hm ek sath combine kar dete hai.
<SYNTAX:
SELECT column1, column2,....
FROM Table
GROUP BY columnA, columnB...;
>

## GROUP BY with COUNT and ALIAS
<SYNTAX:
SELECT column, COUNT(*) AS new_column_name
FROM Table
GROUP BY column;
>

### SQL LIKE and NOT LIKE opeators
>>> maan lo ek country nam ka column hai ar usme kuch rows ka naam h "INDIA"
ar hmko us column k jis jis rows m "INDIA" hai uske sare relationals columns k svi rows ko ek sath print krna hai toh us condition me hm LIKE operator ka use krte h.
And always LIKE operator k sath WHERE clause ka use hota h.

<SYNTAX:
SELECT column1, column2,....
FROM Table
WHERE column_name LIKE value;
>

## SQL LIKE With Wildcards characters
>>> we can use wildcards with LIKE
>>> Let's suppose kisi columns m multiple rows h but hmko us column m s sirf usi row ka detalis chahiye jiska first character "U" ho sr uske aage koe v 1 word ho(_), 2 word ho (__), 3 word ho(___) toh es condition m ham LIKE operators k sath wildcard characters(_) ka use krte h

<SYNTAX:
SELECT column1, column2,....
FROM Table
WHERE column_name LIKE U(_);
>

## SQL NOT LIKE Operator
>>> Vice_Versa of LIKE operator
Means we use this when we want result which doesn't match with the given string pattern.

<SYNTAX:
SELECT column1, column2,....
FROM Table
WHERE column_name NOT LIKE value;
>

## SQL Like operator with multiple condions OR values
<SYNTAX:
SELECT column1, column2,...
FROM Table
WHERE column_name LIKE value1 OR column_name LIKE value2 OR....... ;
>

### SQL UNION
>>> jab hme 2 or more different tables se commmon columns ek sath nikalna ho tb ham UNION ka use krte hai
<NOTE: for using UNION we must confirm the both the tables have same number of columns with same name and the order of columns is also same.
And UNION never returns duplicate values.
i.e., Table1: (id->customer_name->age)
      Table2: (id->customer_name->age)
>

<SYNTAX:
SELECT column1, column2,....
FROM Table1
UNION
SELECT column1, column2,....
FROM Table2
UNION
.
.
.
.
.
SELECT column_name
FROM Table(n);
>

## SQL UNION ALL 
>>> difference between UNON and UNION ALL is , UNION gives the result in sorted form(Ascending Order) while UNION ALL gives the result without sorting and this simply combine the date form down Table first row with its next upper Table first row.
It returns the duplicate values.

<SYNTAX: same as UNION syntax only difference is we put "UNION ALL" in place of UNION.>

### SQL Subquery
>>> when we put a SQL Query inside another Qyery then this inside QUERY is known as SUBQUERY.
lets suppose, kisi table m ek column_name h "Age" ar dusra column_name h "student"
toh hmko result m un student ka naam chahiye jinka age sbse jyada y akam h toh
Es case m hm SQL Subquery ka use krte hain

<SYNTAX:
SELECT column_name
From Table
WHERE column_operator(
    SELECT CONDITIONAL_FUNCTION(column_operator)
    FROM Table
);
>

### SQL CASE 
>>> When we want to return the result according to some conditions then we use "CASE" stetement

<SYNTAX:
SELECT column1, column2...
CASE
  WHEN condition1 THEN result
  When condition2 THEN result
  .
  .
  .
  .
END AS Column(i.e, new temporary column name where you want to return the result)
FROM Table;
>

## We can also use "ELSE" statement
<SYNTAX:
SELECT column1, column2,.....
CASE
   WHEN condition1 THEN result
   WHEN condition2 THEN result
   .
   .
   .
   ELSE other_result
END AS Alias
FROM Table;
>

### SQL HAVING Clause
>>> If we want to filter the result after using the aggregate functions like
max(), min(), sum(), avg(), and count() then we use HAVING clause.

<SYNTAX: 
SELECT AggFunc(column) AS Alias, extra_columns
FROM Table
GROUP BY target_column
HAVING condition;
>

### Difference between HAVING and WHERE clause
>>> Having clause is used with aggregate functions but WHERE clause can't be used with Aggregate Functions.
>>> Having clause check the conditions on the group of rows and WHERE clause is used checks the conditions 
    individually.
>>> HAVING clause is used before GROUP BY but WHERE clause was used before the GROUP BY.

### SQL EXISTS Operators
>>> SQL EXISTS operator is used with SUBQUERY. In place column_operator with WHERE we use EXISTS in SQL
    EXISTS operator.
>>>Let's take an example, suppose hmko 2 tables me s waise log ka customer_id ar first_name chahiye jiska 
   ordered amount > 12000. Then in this conditions we use SQL EXISTS Operators with SUBQUERY.

<SYNTAX:
SELECT column1, column2, ...
FROM table
WHERE EXISTS(SUBQUERY);
>

### SQL JOINS
>>> SQL JOINS are used to join 2 tables on a common column ar usi hisab s un common columns me jo matching records hoga usko select krega JOINS.

<SYNTAX:
SELECT columns_from_both_tables
FROM Table1
JOIN Table2
ON Table1.column1 = Table2.column2
>

## TYPES OF SQL JOINS
1. Inner Join
2. Left Join
3. Right Join
4. Full Outer Join

## 1. INNER JOIN
>> It's is same as Join or Simple Join
>> In this , 2 or more tables me jo common columns hoga ar usme jo row values equal or
   matching hoga bs wahi return hota hai INNER JOIN m
<SYNTAX:
SELECT columns_from_both_tables
FROM Table1
JOIN Table2
ON Table1.column1 = Table2.column2
>
ex:
-- join the Customers and Orders tables when
-- the customer_id from Customers Table matches the customer column in Orders Table

QUERY:
SELECT Customers.customer_id, Customers.first_name, Orders.amount
FROM Customers
JOIN Orders
ON Customers.customer_id = Orders.customer;

## 2. LEFT JOIN
>>> a LEFT JOIN returns all records from the left table (table1), and the matched records from the right table (table2). If there is no match, NULL values are returned for columns from the right table.

<SYNTAX:
SELECT columns_from_both_tables
FROM Table1
LEFT JOIN Table2
ON Table1.clumn1 = Table2.column2;
>

## 3. RIGHT JOIN
>>> a RIGHT JOIN returns all records from the right table (table2), and the matched records from the left table (table1). If there is no match, NULL values are returned for columns from the left table.

<SYNTAX:
SELECT columns_from_both_tables
FROM Table1
RIGHT JOIN Table2
ON Table1.column1 = Table2.column2;
>

### SQL FULL OUTER JOIN
>>> In this full outer join , jitne common columns k rows honge wo sare k sare join ho jaenge either their row values has matching/equal or not. And jo values empty hoga waha NULL fill ho jaega.
<NOTE: Basically hmlog full outer join ka use tab krte hai jab hame 2 tables ke rows ko ek sath krke uske kaunsi  values matching h or knsi values null hai usko check krte h>

<SYNTAX:
SELECT columns_from_both_tables
FROM Table1
FULL OUTER JOIN Table2
ON Table1.column1 = Table2.column2
>

### JOINS FOR MULTIPLE COLUMNS
<SYNTAX:
SELECT columns_from_both tables
FROM Table1
JOIN Table2
ON Table1.Column1 = Table2.Column1
AND Table1.Column2 = Table2.Column2;
>
<NOTE: For multiple columns use "AND" operation>

### SQL DATABASE and TABLES

## SQL CREATE db Statement
<SYNTAX: CREATE DATABASE db_name>

## CREATE DATABASE IF NOT EXISTS
>>> If a databse of same name which we are going to make is already exists then in this condition we use 
    "CREATE DATABASE IF NOT EXISTS" stataement taki agar pehle s es nam ka database rhe toh hme pata chal jaye.

## SHOW DATABASES (List all databases) 
>>> we use to show that how many databases are exist in the warehouse or database management system.

## USE (Switch Databases)
>>> To switch  between available databases to work in DBMS we use "USE
<Syntax: USE db_name>

### SQL CREATE TABLE STATEMENT
<SYNTAX:
CREATE TABLE table_name(
    column1 data type,
    column2 data type,
    .
    .
    column(n) data type
);
>
NOTE:
1. int => used to store numbers
2. varchar(x) => used to store variable characters with maximum of lenth x.
3. text => can store texts up to 65535 characters.

### CREATE TABLE IF NOT EXISTS
>>>We will get an error if we create the table with same name which already exist in the databse, To 
   avoid this error we use this statement.

<SYNTAX:
CREATE TABLE IF NOT EXISTS table_name(
   column1 data type,
   column2 data typpe,
   .
   .
   .
   column(n) data type
);
>

### CREATE TABLE AS
>>> Jab hame existing tables ka data use krke koe naya table use krna ho toh us condition m hm
    es statement ka  use krte hai.
<SYNTAX:
CREATE TABLE table_name
AS (
    SELECT column1, column2,......
    FROM table_name
    WHERE condition
);
>

### SQL DROP DATABASE STATEMENT
>>> Used to delete the database from DBMS
<SYNTAX:
DROP DATABASE database_name;
>

### DROP TRABLE Statement
>>> Used to remove the table
<SYNTAX:
DROP TABLE table_name;
>
NOTE: When we delete a database table then all records whithin the table are also deleted.

### DROP TABLE IF EXISTS
>>> if we are dropping a table ar wo table DB me exist hi na krta ho then we get an error so, for avoid those
    errors we use this statement.
<SYNTAX:
DROP TABLE IF EXISTS table_name;
>

### SQL ALTER TABLE Statement
>>> If we want to modify(adding, deleting) the existing table then for this we use ALTER TABLE Statement.
<SYNYTEX:
ALTER TABLE table_name
clause supporting_codes;
>
>>> Clause means add, delete, rename etc operations

### ALTER Table Operations
>>>
1. Add a Column
2. Rename a Column
3. Modify a Column
4. DROP a column
5. Rename a Table

## 1. ADD a Column  
<SYNTAX:
ALTER TABLE table_name
ADD column_name data_type(value);
>

# 2. RENAME a Column
<SYNTAX:
ALTER TABLE Table_name
RENAME COLUMN column_name TO new_column_name;
>

# 3. MODIFY a Table
<SYNTAX:
ALTER TABLE table_name
MODIFY COLUMN data_type(values);
>

# 4. DROP a Column in a Table 
<SYNTAX:
ALTER TABLE Table_name
DROP COLUMN column_name;
>

# 5. RENAME a Table
<SYNTAX:
ALTER TABLE table_name
RENAME TO new_table_name;
>

### SQL BACKUP DATABASE Statement
>>> In sql "BACKUP DATABASE" is used to create database Backups

# Backup database to a given path
<SYNTAX:
BACKUP DATABASE database_name
TO medium = 'path\file_name';
>
medium refers to type of storage i.e., disk, tape, url

## Types of Backups in SQL
1. Full Backup
2. Differential Backup
3. Transaction Log (T-log) backup

## FULL BACKUP 
>>> Full backup is is the complete backup of SQL server databaese.
<SYNTAX:
BACKUP DATABASE database_name
TO medium = 'path\file_name';
>

## Differential Backup
>>> used to backup the new changes as compared to the last full_backup
<SYNTAX:
BACKUP DATABASE database_name
TO medium = 'path\file_name'
DIFFERENTIAL BACKUP;
>

## Transaction BACKUP LOG
>>> we use this to capture all the changes since the database is created.
<SYNTAX:
BACKUP LOG database_name
TO medium = 'path\file_name';
>

### RESTORE DATABASE from Backup 
<SYNTAX:
RESTORE DATABASE database_name;
TO medium = 'path\file_name';
>

### SQL INSERT, UPDATE and DELETE

## SQL INSERT INTO Statement
>>> INSERT INTO Statement is used to insert new row into Database.
<SYNTAX:
INSERT INTO table_name(column1, column2,.....)
VALUES
(value11, value12,......)
(value21, value22,......)
.......;
>
Here, value11, value12,.... / value21, value22,.... are the to values to be inserted

### SQL UPDATE Statement
>>> Used to edit an existing row in a database table
<SYNTAX:
UPDATE table_name
SET column1 = value1, column2 = value2, column3 = value3......
WHERE condition;                               
>

### SQL SELECT INTO (copy table) statement
>>> Used to copy data from one table to another table
<SYNTAX:
SELECT column1, column2,.....
INTO destination_table
FROM source_table;
>
NOTE: we can also use WHERE clause if we have any condition

### SQL INSERT INTO SELECT Statement
>>> This statement is used to copy records from one table to another existing table.
<SYNTAX:
INSERT INTO destination_table(column1, column2,......)
SELECT column1, column2,.....
FROM source_table
>
NOTE: column1, column2,.... are the names of the columns to be copied and we can make conditions as per requirement by using WHERE clause.

### SQL DELETE and TRUNCATE Rows
>>> Delete is used to delete the rows from a database table and it can delete single and as well as multiple 
    rows at a time also as as per requirements. And it supports WHERE clause also.

## SQL DELETE
<SYNTAX:
DELETE FROM table_name
where condition; // use this if required
>

## SQL TRUNCATE Rows
>>> It is also used for delete the rows but when we use TRUNCATE it delete all rows of the column at a time, 
    we can't use WHERE clause with TRUNCATE.
<SYNTAX:
TRUNCATE TABLE Customers;
>